body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    min-width: 1200px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #849d8f;
    background-image: url("../img/Мороженко 1.png");
    background-position: top center;
    background-repeat: no-repeat;
}

body.catalog_html {
    background-image: linear-gradient(to bottom, #9cb0a5 10%, #849d8f 90%)
}

img {
    max-width: 100%;
    height: auto;
}

header, main, footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
    box-sizing: border-box;
}

a {
    font: inherit;
    text-decoration: none;
}

.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

input[type="text"],
input[type="password"],
input[type="textarea"] {
    font: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    box-sizing: border-box;
    color: #323232;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #d3d3d2;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="textarea"]:hover {
    outline: 2px solid #c7c6c5;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="textarea"]:focus {
    outline: 2px solid #8fbdec;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #ffffff;
}

.btn {
    display: inline-block;
    font-size: 18px;
    padding: 12px 22px;
    background-image: linear-gradient(to bottom, #f26843, #e74b36);
    color: #ffffff;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 30px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.btn:hover {
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background-image: linear-gradient(to bottom, #d84732, #e1613e);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

div.background {
    background-color: #849d8f;
    background-image: url("../img/Мороженко 1.png");
    background-position: top center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

div.background::before,
div.background::after {
    content: "";
    visibility: hidden;
}

div.background::before {
    background-image: url("../img/Мороженко 2.png");
}

div.background::after {
    background-image: url("../img/Мороженко 3.png");
}

.site_navigation,
.user_navigation {
    list-style: none;
}

.site_navigation a,
.user_navigation a {
    font: inherit;
    color: #ffffff;
}

.site_navigation a:hover,
.site_navigation a:focus,
.user_navigation a:hover,
.user_navigation a:focus {
    background-color: #ffffff;
    color: #333333;
}

header.main_header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    position: relative;
}

a.main_header_logo {
    width: 154px;
    height: 64px;
}

nav.main_navigation {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

ul.site_navigation {
    display: flex;
    padding-left: 8px;
}

ul.site_navigation a {
    display: block;
    padding: 5px 10px;
    border-radius: 15px;
}

ul.site_navigation a.catalog_here {
    background-color: #d07058;
}

ul.site_navigation li a:active {
    box-shadow: inset 0px 1px 1px 1px #696969;
}

ul.site_navigation li.site_catalog {
    position: relative;
    border-bottom: 5px solid transparent;
}

ul.site_navigation ul.main_menu {
    display: none;
    position: absolute;
    width: 145px;
    background-color: #f8f7f4;
    min-height: 172px;
    top: 32px;
    left: -5px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 15px 25px 1px #58685f;
    z-index: 1;
}

ul.main_menu a {
    font: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    margin-top: -5px;
    border-radius: 0;
}

ul.main_menu li {
    display: block;
    padding: 7px 9px;
    list-style: none;
}

ul.main_menu li:nth-child(2) a {
    border-top: 1px solid #d1d0ce;
}

ul.main_menu li:first-child {
    border-radius: 5px 5px 0px 0px;
}

ul.main_menu li:last-child {
    border-radius: 0px 0px 5px 5px;
}

ul.main_menu li:hover {
    background-color: #fbded8;
}

ul.main_menu li:active {
    background-color: #f6b5a5;
}

ul.main_menu li:active a {
    background-color: #f6b5a5;
    box-shadow: none;
}

ul.main_menu a:hover {
    background-color: #fbded8;
}

ul.main_menu li:first-child a {
    margin-top: 0px;
    margin-bottom: 1px;
    font-weight: 700;
    display: block;
    border-radius: 10px 10px 0px 0px;
}

ul.main_menu li.link_active {
    background-color: #d07058;
}

li.link_active a {
    color: #ffffff;
}

li.link_active a:hover,
li.link_active a:active {
    color: #ffffff;
    background-color: #d07058;
}

.site_catalog:hover .main_menu,
.site_catalog:focus .main_menu {
    display: block;
}

ul.user_navigation {
    margin-left: auto; 
    display: flex;
    position: relative;
}

ul.user_navigation li {
    margin-left: 10px;
}

button.search_btn {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    padding-top: 5px;
}

button.search_btn,
button.header_btn,
button.header_basket {
    background-color: rgba(255,255,255,0.3);
}
button.search_btn:hover,
button.header_btn:hover,
button.header_basket:hover {
    background-color: #f8f7f4;
    color: #323232;
}

button.search_btn:hover path,
button.header_btn:hover path,
button.header_basket:hover path,
button.header_basket:hover g {
    fill: #333333;
}

li.search:hover div.search_hover,
li.enter:hover div.login_hover,
li.basket:hover div.basket_hover {
    display: block;
}

div.search_hover {
    display: none;
    position: absolute;
    top: 35px;
    right: 212px;
    width: 340px;
    height: 85px;
    background-color: #f8f7f4;
    box-shadow: 0px 15px 25px 1px #58685f;
    border-radius: 5px;
}

body.catalog_html div.search_hover {
    right: 230px;
}

div.search_hover input {
    width: 310px;
    height: 42px;
    padding-left: 13px;
    margin: 20px 15px;
}

button.header_btn {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 32px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 20px;
    border: none;
}

button.header_btn svg {
    position: absolute;
    top: 6px;
    left: 15px;
}

span.name_enter {
    position: absolute;
    top: 8px;
    left: 43px;
}

div.login_hover {
    display: none;
    position: absolute;
    top: 35px;
    right: 109px;
    width: 278px;
    height: 214px;
    background-color: #f8f7f4;
    box-shadow: 0px 15px 25px 1px #58685f;
    border-radius: 5px;
    z-index: 1;
}

body.catalog_html div.login_hover {
    right: 127px;
}

div.login_hover input {
    width: 240px;
    height: 42px;
    padding-left: 13px;
    margin-top: 20px;
    margin-left: 20px;
}

div.login_hover p {
    margin: 0;
    padding: 0;
}

div.login_hover button.enter_btn {
    margin-top: 20px;
    margin-left: 20px;
    outline: 0;
    border: 0;
}

div.login_hover a {
    display: inline-block;
    font: inherit;
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;  
}

div.login_hover div.help_box {
    display: inline-block;
    vertical-align: middle;
    padding-left: 17px;
    width: 130px;
}

button.header_basket {
    width: 100px;
}

button.header_basket span.basket_name {
    position: absolute;
    top: 8px;
    left: 43px;
}

button.catalog_basket::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 21px;
    background-image: url("../img/basket-red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

button.catalog_basket {
    position: relative;
    width: 119px;
    padding-left: 43px;
    background-color: #f8f7f4;
    color: #323232;
}

div.basket_hover {
    display: none;
    position: absolute;
    top: 35px;
    right: 1px;
    width: 541px;
    background-color: #f8f7f4;
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 0px 15px 25px 1px #58685f;
    z-index: 1;
    padding-bottom: 20px;
}

div.basket_hover table tr:last-child {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

button.btn_basket {
    margin-left: 355px;
    border: none;
    padding: 12px 15px;
    outline: none;
    border-radius: 20px;
}

button.btn_basket:active {
    outline: none;
}

table {
    width: 510px;
    height: 150px;
    margin: 15px;
}

td {
    vertical-align: baseline;
}

table span.grey_color {
    color: #9f9f9f;
}

tr.line_one img,
tr.line_two img {
    vertical-align: middle;
    border-radius: 50%;
}

tr.line_one td:first-child,
tr.line_two td:first-child {
    display: inline-block;
    vertical-align: middle;
}


tr td:nth-child(3) {
    width: 210px;
}

tr.line_one td:last-child,
tr.line_two td:last-child {
    padding-right: 5px;
}

table td.all_send {
    padding-top: 10px;
    width: 100%;
    vertical-align: middle;
    text-align: right;
    border-top: 1px solid #cacac7;
}

td button {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    background-color: #f8f7f4;
    background-image: url("../img/cross-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

div.breadcrumb {
    margin-top: 10x;
    margin-bottom: -10px;
}

div.breadcrumb ul {
    padding: 0;
}

.breadcrumb li {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    margin: 0;
}

.breadcrumb a {
    font: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #f7f6f3;
    padding-right: 10px;
}

.breadcrumb li:first-child::after {
    content: "»";
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 2px;
}

.breadcrumb li:nth-child(2)::after {
    content: "»";
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 2px;
}

div.communication_info {
    margin-left: auto;
    margin-top: 0px;
    position: absolute;
    right: 27px;
    top: 67px;
    z-index: 0;
}

div.communication_info span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}

div.communication_info p {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-align: right;
}

h2.name_icecream {
    margin: 0;
    margin-bottom: 35px;
}

section.slider {
    position: relative;
    text-align: center;
    padding-top: 321px;
}

section.slider ul.slider_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

section.slider li.slide {
    display: none;
    margin-bottom: 40px;
}

#product1:checked ~ .background #slide1,
#product2:checked ~ .background #slide2,
#product3:checked ~ .background #slide3 {
    display: block;
}

#product1:checked ~ .background label[for="product1"],
#product2:checked ~ .background label[for="product2"],
#product3:checked ~ .background label[for="product3"] {
    background-color: #ffffff;
}

#product1:checked ~ .background {
    background-color: #849d8f;
    background-image: url("../img/Мороженко 1.png");
    background-position: top center;
    background-repeat: no-repeat;
}

#product2:checked ~ .background {
    background-color: #8996a6;
    background-image: url("../img/Мороженко 2.png");
    background-position: top center;
    background-repeat: no-repeat;
}

#product3:checked ~ .background {
    background-color: #9d8b84;
    background-image: url("../img/Мороженко 3.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.slider p {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    color: #ffffff;
}

a.slider_btn {
    font: inherit;
    font-size: 32px;
    padding: 22px 40px;
}

div.slider_controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

div.slider_controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    font-size: 0px;
}

div.filters {
    width: 880px;
}

form.filter {
    display: flex;
    flex-wrap: wrap;
}

ul.radio_filter li {
    display: inline-block;
}

ul.checkbox_filter li {
    display: inline-block;
}

div.filters legend {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

div.filters select {
    background-color: #a9bab0;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

div.filters select:hover {
    color: #323232;
}

ul.radio_filter li {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

ul.checkbox_filter li {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

div.filters .filter_btn {
    background-color: #aabcb2;
    color: #ffffff;
    outline: none;
    border: 2px solid #ffffff;
    padding: 7px 25px;
    border-radius: 16px;
}

div.filters .filter_btn:hover {
    color: #353535;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

div.filters .filter_btn:active {
    color: #353535;
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 2px 0px #6a6b6a;
    border: none;
    padding: 9px 27px;
}

div.sale_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

section.sale_one {
    width: 560px;
    min-height: 229px;
    background-color: #7b0927;
    background-image: url("../img/Малиновый фон.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
}

section.sale_one h2,
section.sale_two h2 {
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    padding-left: 18px;
    margin-top: 19px;
    margin-bottom: 20px;
}

section.sale_one p,
section.sale_two p {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    padding-left: 18px;
}

section.sale_two {
    width: 560px;
    min-height: 229px;
    background-color: #583529;
    background-image: url("../img/Шоколадный фон.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.sale .btn {
    margin-left: 375px;
    margin-top: 20px;
}

.sale_two .btn {
    width: 150px;
    margin-left: 345px;
}

article.product {
    position: relative;
    margin-right: 26px;
}

article.product:nth-child(4n) {
    margin-right: 0;
}

div.price_list,
div.catalog_icecream {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

div.hits img,
div.icecream img {
    border-radius: 50%;
}

div.hits p::before {
    content: "";
    position: absolute;
    bottom: 200px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

p.price_hit,
p.price_icecream {
    position: absolute;
    top: 165px;
    color: #ffffff;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

p.price_hit span.rub,
p.price_icecream span.rub {
    display: inline-block;
    width: 30px;
    height: 33px;
    margin-left: 3px;
    background-image: url("../img/ruble.svg");
    background-repeat: no-repeat;
}

p.price_hit span,
p.price_icecream span {
    font-size: 30px;
    line-height: 45px;
}

div.hits a,
div.icecream a {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    font: inherit;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

div.hits a {
    margin-bottom: 0px;
}

div.hits a:hover,
div.hits a:active,
div.icecream a:hover,
div.icecream a:active {
    color: #ffbc9e;
}

article.product:hover div.product_hover {
    display: block;
}

div.product_hover {
    position: absolute;
    display: none;
    top: -10px;
    left: -13px;
    width: 293px;
    height: 405px;
    background-color: rgba(132,157,143,0.1);
    border-radius: 10px;
    box-shadow: 0px 15px 35px 1px #58685f;
    z-index: 1;
}

button.hover_icecream {
    border: none;
    margin-top: 340px;
    margin-left: 46px;
}

div.info_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1146px;
    background-color: #e8dbba;
    background-image: url("../img/Вафля фон.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 15px;
    color: #323232;
    margin-bottom: 40px;
}

div.info_box h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 18px;
}

div.info_box p {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-left: 5px;
    padding-left: 45px;
    margin-bottom: 8px;
}

div.info_box p.paragraph_2,
div.info_box p.paragraph_4 {
    margin-left: 10px;
}

div.info_box p::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    top: -15px;
    left: -13px;
}

div.info_box p.paragraph_1::before {
    background-image: url("../img/ice-cream.svg");
}

div.info_box p.paragraph_2::before {
    background-image: url("../img/cow.svg");
}

div.info_box p.paragraph_3::before {
    background-image: url("../img/eco.svg");
}

div.info_box p.paragraph_4::before {
    background-image: url("../img/thermometer.svg");
}

div.news_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

article.blog_box {
    width: 560px;
    height: 220px;
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/Клубничный фон.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}

article.blog_box h4 {
    padding-left: 18px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

article.blog_box a {
    color: #323232;
    text-decoration: underline;
    font: inherit;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

article.blog_box div.link_blog_box {
    padding-left: 18px;
    margin-top: -11px;
}

div.send_box {
    width: 560px;
    height: 220px;
    background-image: url("../img/bg-post.svg");
    background-repeat: no-repeat;
    border-radius: 15px;
}

div.content_send {
    width: 548px;
    height: 208px;
    margin-left: 6px;
    margin-top: -9px;
    background-color: #f8f7f4;
    border-radius: 15px;
}

div.send_box p {
    padding-top: 30px;
    padding-left: 25px;
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

div.content_send input {
    margin-left: 26px;
    box-sizing: border-box;
    width: 368px;
    padding: 10px;
    border-radius: 5px;
}

div.map_box {
    position: relative;
    background-image: url(../img/map.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 430px;
}

div.map_box iframe {
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    margin-left: -50%;
    width: 100vw;
}

section.contacts {
    position: absolute;
    top: 62px;
    right: 27px;
    width: 303px;
    height: 306px;
    background-color: #fefefe;
    color: #323232;
    border-radius: 15px;
}

section.contacts p {
    padding-left: 26px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

section.contacts p:first-child {
    padding-top: 32px;
}

section.contacts p:nth-child(2) {
    margin-top: 2px;
}

section.contacts p:nth-child(3) {
    margin-top: -10px;
}

section.contacts p:nth-child(4) {
    margin-top: -14px;
    margin-bottom: 26px;
}

section.contacts a {
    margin-left: 26px;
    margin-bottom: 29px;
}

section.contacts span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

ul.pages li {
    display: inline-block;
    list-style: none;
}

ul.pages p {
    color: #323232;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 50%;
    padding: 5px 10px;
}

ul.pages div.one_page {
    background-color: #ffffff;
    border-radius: 50%;
}

ul.pages li a {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 50%;
    padding: 5px 10px;
}

ul.pages li a:hover {
    background-color: #9aaea3;
}

ul.pages li a:active {
    color: #323232;
    background-color: #ffffff;
}

ul.pages li:first-child a {
    color: #9aaea3;
}

@keyframes shake {
    0%, 100% {
    transform: translateX(0);
  }

    10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

    20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal {
    display: none;
    position: fixed;
    width: 480px;
    height: 443px;
    background-color: #f8f7f4;
    border-radius: 15px;
    padding: 18px 25px;
    box-sizing: border-box;
    top: 25%;
    left: 50%;
    z-index: 3;
    margin-left: -240px;
}

.modal_show {
    display: block;
}

.modal_error {
  animation: shake 0.6s;
}

section.modal h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
    margin-bottom: 20px;
}

.modal_close {
    position: absolute;
    background-color: inherit;
    background-image: url("../img/cross-big.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    right: -7px;
    outline: none;
    border: none;
    cursor: pointer;
}

.modal_overlay {
    display: none;
}
    
.modal_overlay_show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.3);
}

section.modal input[type="text"] {
    width: 265px;
    padding: 10px 13px;
    margin-bottom: 10px;
}

section.modal textarea{
    width: 428px;
    height: 155px;
    box-sizing: border-box;
    padding: 10px 13px;
    resize: none;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
}

section.modal .modal_btn{
    margin-left: 295px;
    border: none;
}

footer.main_footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255,255,255,0.3);
}

div.footer_social {
    margin-top: 40px;
}

div.footer_social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 190px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

div.footer_social a.social_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

a.social_btn svg {
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.3); 
}

a.social_btn svg:hover,
a.social_btn svg:focus {
    border-color: #dae2de;
}

a.social_btn svg:active {
    border-color: #dae2de;
}

a.social_btn svg:hover path,
a.social_btn svg:focus path {
    fill: #ffffff;
}

a.social_btn svg:active path {
    fill: #e9e9e9;
}

a.social_btn:hover path {
    fill: #e9e9e9;
}

ul.footer_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 310px;
    text-align: center;
    list-style: none;
    position: relative;
    margin-top: 38px;
}

ul.footer_info a {
    font: inherit;
    font-size: 13px;
    color: #ffffff;
    line-height: 18px;
    font-weight: 400;
}

ul.footer_info li:first-of-type a {
    font-weight: 700;
}

ul.footer_info a:hover,
ul.footer_info a:active {
    color: #ffbc9e;
}

ul.footer_info li:nth-child(2) {
    width: 162px;
    padding-left: 0px;
    text-align: left;
}

li.provider::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    top: 4px;
    left: 18px;
}

div.footer_copyright {
    position: relative;
}

div.footer_copyright p {
    margin-top: 60px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fefefe;
}

div.footer_copyright a.html_link {
    position: absolute;
    top: 17px;
    width: 110px;
    height: 40px;
    background-image: url("../img/logo-htmlacademy-small.png");
    background-repeat: no-repeat;
}

p a.html_academy_text {
    font: inherit;
    color: #fefefe;
}

p a.html_academy_text:hover,
p a.html_academy_text:active {
    color: #ffbc9e;
}
