body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #849d8f;
    background-image: url("../img/icecream1.png");
    background-position: top center;
    background-repeat: no-repeat;
}

body.catalog_html {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #9cb0a5), color-stop(90%, #849d8f));
    background-image: -webkit-linear-gradient(top, #9cb0a5 10%, #849d8f 90%);
    background-image: -o-linear-gradient(top, #9cb0a5 10%, #849d8f 90%);
    background-image: linear-gradient(to bottom, #9cb0a5 10%, #849d8f 90%)
}

img {
    max-width: 100%;
    height: auto;
}

.main_header, .main, .main_footer {
    display: block;
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    font: inherit;
    text-decoration: none;
}

.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

ul.user_navigation input[type="text"],
ul.user_navigation input[type="password"],
ul.user_navigation input[type="email"],
div.send_box input[type="email"],
.modal input[type="text"],
.modal input[type="email"],
.modal textarea {
    font: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul.user_navigation input[type="text"]:hover,
ul.user_navigation input[type="password"]:hover,
ul.user_navigation input[type="email"]:hover,
div.send_box input[type="email"]:hover,
.modal input[type="text"]:hover,
.modal input[type="email"]:hover,
.modal textarea:hover{
    border: 2px solid #c7c6c5;
    padding: 9px 12px;
}

ul.user_navigation input[type="text"]:focus,
ul.user_navigation input[type="password"]:focus,
ul.user_navigation input[type="email"]:focus,
div.send_box input[type="email"]:focus,
.modal input[type="text"]:focus,
.modal input[type="email"]:focus,
.modal textarea:focus {
    border: 2px solid #8fbdec;
    padding: 9px 12px;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #ffffff;
}

.btn {
    display: inline-block;
    padding: 12px 22px;
    font-size: 18px;
    vertical-align: middle;
    color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74b36));
    background-image: -webkit-linear-gradient(top, #f26843, #e74b36);
    background-image: -o-linear-gradient(top, #f26843, #e74b36);
    background-image: linear-gradient(to bottom, #f26843, #e74b36);
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 30px;
}

.btn:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
    background-image: -webkit-linear-gradient(top, #f58669, #ec6f5e);
    background-image: -o-linear-gradient(top, #f58669, #ec6f5e);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
    background-image: -webkit-linear-gradient(top, #d84732, #e1613e);
    background-image: -o-linear-gradient(top, #d84732, #e1613e);
    background-image: linear-gradient(to bottom, #d84732, #e1613e);
    -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
            box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

div.background {
    background-color: #849d8f;
    background-image: url("../img/icecream1.png");
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    -o-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site_navigation,
.user_navigation {
    list-style: none;
}

.site_navigation a,
.user_navigation a {
    font: inherit;
    color: #ffffff;
}

.site_navigation a:hover,
.site_navigation a:focus,
.user_navigation a:hover,
.user_navigation a:focus {
    background-color: #ffffff;
    color: #333333;
}

.main_header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 8px;
}

a.main_header_logo {
    width: 154px;
    height: 64px;
}

.main_navigation {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

ul.site_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 8px;
    width: 500px;
}

ul.site_navigation a {
    display: block;
    padding: 7px 10px;
    border-radius: 15px;
}

ul.site_navigation a.menu_link {
    padding-left: 15px;
    padding-right: 14px;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(255,255,255,0.5);
            text-decoration-color: rgba(255,255,255,0.5);
}

ul.site_navigation a.catalog_here {
    padding: 6px 15px;
    background-color: #d07058;
}

ul.site_navigation a:active {
    -webkit-box-shadow: inset 0px 1px 1px 1px #696969;
            box-shadow: inset 0px 1px 1px 1px #696969;
}

ul.site_navigation li.site_catalog {
    position: relative;
    border-bottom: 5px solid transparent;
}

ul.site_navigation ul.main_menu {
    position: absolute;
    top: 35px;
    left: -5px;
    z-index: 1;
    display: none;
    width: 145px;
    min-height: 172px;
    padding: 0;
    margin: 0;
    background-color: #f8f7f4;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 25px 1px #58685f;
            box-shadow: 0px 15px 25px 1px #58685f;
}

ul.main_menu a {
    margin: 0;
    padding: 9px 20px;
    font: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 0;
}

ul.main_menu li.main_list:first-child {
    border-radius: 5px 5px 0px 0px;
}

ul.main_menu li.main_list:last-child {
    border-radius: 0px 0px 5px 5px;
}

li.main_list:first-child a {
    padding-bottom: 12px;
    border-radius: 5px 5px 0px 0px;
}

li.main_list:last-child a {
    border-radius: 0px 0px 5px 5px;
}

a.main_new::after {
    content: "";
    position: absolute;
    top: 37px;
    left: 9px;
    width: 128px;
    height: 1px;
    background-color: #d1d0ce;
}
ul.main_menu li:nth-child(2) {
    margin-top: 1px;
}

ul.main_menu li {
    display: block;
    list-style: none;
}

li.main_list a:hover {
    background-color: #fbded8;
}

li.main_list:hover {
    background-color: #fbded8;
}

li.main_list a:active {
    background-color: #f6b5a5;
    -webkit-box-shadow: none;
            box-shadow: none;
}

li.mail_list:active {
    background-color: #f6b5a5;
}

li.main_here {
    background-color: #d07058;
}

li.main_here a {
    background-color: #d07058;
    color: #ffffff;
}

.site_catalog:hover .main_menu,
.site_catalog:focus .main_menu {
    display: block;
}

ul.user_navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

ul.user_navigation li {
    margin-left: 10px;
}

ul.user_navigation li.search {
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
}

button.search_btn {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    padding-top: 5px;
    border-radius: 50%;
    border: none;
}

button.search_btn svg {
    position: absolute;
    top: 6px;
    right: 8px;
}

button.search_btn,
button.header_btn,
button.header_basket {
    background-color: rgba(255,255,255,0.3);
}
button.search_btn:hover,
button.header_btn:hover,
button.header_basket:hover {
    background-color: #f8f7f4;
    color: #323232;
}

button.search_btn:hover path,
button.header_btn:hover path,
button.header_basket:hover path,
button.header_basket:hover g {
    fill: #333333;
}

li.search:hover div.search_hover,
li.enter:hover div.login_hover,
li.basket:hover div.basket_hover {
    display: block;
}

div.search_hover {
    position: absolute;
    top: 35px;
    right: 212px;
    display: none;
    width: 340px;
    height: 85px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0px 15px 25px 1px #58685f;
            box-shadow: 0px 15px 25px 1px #58685f;
    border-radius: 5px;
}

body.catalog_html div.search_hover {
    right: 230px;
}

div.search_hover input {
    width: 310px;
    height: 42px;
    margin: 20px 15px;
    padding-left: 13px;
}

button.header_btn {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 32px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    border-radius: 20px;
}

button.header_btn svg {
    position: absolute;
    top: 5px;
    left: 16px;
}

span.name_enter {
    position: absolute;
    top: 6px;
    left: 44px;
}

div.login_hover {
    position: absolute;
    top: 35px;
    right: 109px;
    z-index: 1;
    display: none;
    width: 278px;
    height: 214px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0px 15px 25px 1px #58685f;
            box-shadow: 0px 15px 25px 1px #58685f;
    border-radius: 5px;
}

body.catalog_html div.login_hover {
    right: 127px;
}

div.login_hover input {
    width: 240px;
    height: 42px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 13px;
}

div.login_hover p {
    margin: 0;
    padding: 0;
}

div.login_hover button.enter_btn {
    margin-top: 20px;
    margin-left: 20px;
    border: 0;
}

div.login_hover a {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
    background: -webkit-gradient(linear, left top, right top, from(#323232), to(#323232));
    background: -webkit-linear-gradient(left, #323232, #323232 100%);
    background: -o-linear-gradient(left, #323232, #323232 100%);
    background: linear-gradient(to right, #323232, #323232 100%);
    background-position: 50% 85%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

div.login_hover a:hover {
    background-color: #f8f7f4;
}

div.login_hover div.help_box {
    display: inline-block;
    width: 130px;
    padding-left: 17px;
    margin-top: 19px;
    vertical-align: middle;
}

button.header_basket {
    width: 100px;
}

span.basket_name {
    position: absolute;
    top: 6px;
    left: 44px;
}

button.catalog_basket::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 21px;
    background-image: url("../img/basket-red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

button.catalog_basket {
    position: relative;
    width: 119px;
    padding-left: 43px;
    color: #323232;
    background-color: #f8f7f4;
}

div.basket_hover {
    position: absolute;
    top: 35px;
    right: 1px;
    z-index: 1;
    display: none;
    width: 541px;
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 25px 1px #58685f;
            box-shadow: 0px 15px 25px 1px #58685f;
}

.table_basket tr:last-child {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

button.btn_basket {
    margin-left: 355px;
    padding: 12px 15px;
    border: none;
    outline: none;
    border-radius: 20px;
}

button.btn_basket:active {
    outline: none;
}

.table_basket {
    width: 510px;
    height: 150px;
    margin: 15px;
}

.table_basket td {
    vertical-align: baseline;
}

.table_basket span.grey_color {
    color: #9f9f9f;
}

.line_1 img,
.line_2 img{
    vertical-align: middle;
    border-radius: 50%;
}

.line_1 td:nth-child(3),
.line_2 td:nth-child(3) {
    width: 210px;
}

.table_basket td.all_send {
    width: 100%;
    padding-top: 10px;
    vertical-align: middle;
    text-align: right;
    border-top: 1px solid #cacac7;
}

.table_basket button {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background-color: #f8f7f4;
    background-image: url("../img/cross-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    outline: none;
    cursor: pointer;
}

div.breadcrumb {
    width: 250px;
    margin-top: -23px;
    margin-bottom: -12px;
}

div.breadcrumb ul {
    padding: 0;
}

.breadcrumb li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-right: 7px;
    vertical-align: middle;
}

.breadcrumb a {
    padding-right: 10px;
    font: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #f7f6f3;
}

.breadcrumb li:not(:last-child) {
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(255,255,255,0.5);
            text-decoration-color: rgba(255,255,255,0.5);
}

.breadcrumb li:first-child::after {
    content: "»";
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 14px;
}

.breadcrumb li:nth-child(2)::after {
    content: "»";
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 14px;
}

div.communication_info {
    position: absolute;
    right: 27px;
    top: 66px;
    z-index: 0;
    width: 167px;
    margin-left: auto;
    margin-top: 0px;
}

div.communication_info span {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
    vertical-align: baseline;
}

div.communication_info p {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-align: right;
    color: inherit;
    text-decoration: none;
}

h2.name_icecream {
    margin: 0;
    margin-bottom: 24px;
}

.slider {
    position: relative;
    padding-top: 321px;
    text-align: center;
}

.slider ul.slider_list {
    margin-top: -30px;
    padding: 0;
    list-style: none;
}

.slider li.slide {
    display: none;
    margin-bottom: 40px;
}

input[name="toggle"]:first-child:checked ~ .background .slider_1,
input[name="toggle"]:nth-child(2):checked ~ .background .slider_2,
input[name="toggle"]:nth-child(3):checked ~ .background .slider_3 {
    display: block;
}

input[name="toggle"]:first-child:checked ~ .background label[for="product1"],
input[name="toggle"]:nth-child(2):checked ~ .background label[for="product2"],
input[name="toggle"]:nth-child(3):checked ~ .background label[for="product3"] {
    background-color: #ffffff;
}

input[name="toggle"]:first-child:hover ~ .background label[for="product1"],
input[name="toggle"]:nth-child(2):hover ~ .background label[for="product2"],
input[name="toggle"]:nth-child(3):hover ~ .background label[for="product3"] {
    background-color: rgba(255,255,255,0.5);
}

input[name="toggle"]:first-child:checked:hover ~ .background label[for="product1"],
input[name="toggle"]:nth-child(2):checked:hover ~ .background label[for="product2"],
input[name="toggle"]:nth-child(3):checked:hover ~ .background label[for="product3"] {
    background-color: #ffffff;
}

input[name="toggle"]:first-child:checked ~ .background {
    background-color: #849d8f;
    background-image: url("../img/icecream1.png");
    background-position: top center;
    background-repeat: no-repeat;
}

input[name="toggle"]:nth-child(2):checked ~ .background {
    background-color: #8996a6;
    background-image: url("../img/icecream2.png");
    background-position: top center;
    background-repeat: no-repeat;
}

input[name="toggle"]:nth-child(3):checked ~ .background {
    background-color: #9d8b84;
    background-image: url("../img/icecream3.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.slider p {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 29px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    color: #ffffff;
}

a.slider_btn {
    padding: 22px 40px;
    font: inherit;
    font-size: 32px;
}

div.slider_controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    margin-top: -22px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

div.slider_controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    font-size: 0px;
}

div.filters {
    padding-left: 8px;
}

div.filters fieldset {
    border: 0 none;
}

div.filters legend {
    padding-left: 15px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

form.filter {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1000px;
    margin-left: -20px;
    margin-bottom: 31px;
}

select::-ms-expand {
    display: none;
}

form.filter select {
    position: relative;
    padding: 9px 30px 9px 15px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255,255,255,0.3);
    background-image: url("../img/icon-down-dir-white.svg");
    background-repeat: no-repeat;
    background-position: 93% 50%;
    outline: none;
    border: none;
    border-radius: 20px;
}

form.filter select:hover,
form.filter select:focus {
    color: #323232;
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: 93% 50%;
}

div.range_filter_box {
    position: relative;
    height: 36px;
    width: 220px;
    margin-left: -13px;
    margin-right: -15px;
    margin-top: 1px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    outline: none;
}

.price_range {
    margin-left: -11px;
}

div.price_range_box {
    position: absolute;
    top: -2px;
    left: 275px;
    width: 135px;
    height: 30px;
}

div.price_range_box input {
    width: 58px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

div.price_range_box input:hover {
    outline: none;
    border: none;
}

div.range {
    position: absolute;
    top: 15px;
    left: 22px;
    width: 175px;
    height: 5px;
    background-color: rgba(255,255,255,0.5);
}

div.range div.bar {
    position: relative;
    width: 100px;
    height: 5px;
    margin-left: 20px;
    background-color: rgba(255,255,255,1);
}

div.bar .min {
    position: absolute;
    top: -7px;
    left: -6px;
    width: 20px;
    height: 23px;
}

div.bar .min::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 23px;
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

div.bar .min:hover {
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

div.bar .max {
    position: absolute;
    top: -7px;
    left: 92px;
    width: 20px;
    height: 23px;
}

div.range .max::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 23px;
    background-image: url("../img/filter-button.svg");
    cursor: pointer;
}

div.range .max:hover {
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

div.radio_filter_box {
    height: 37px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    outline: none;
}

ul.radio_filter,
ul.checkbox_filter {
    margin: 0;
    padding: 0;
}

ul.radio_filter li {
    display: inline-block;
    margin-right: 27px;
    padding-top: 12px;
    vertical-align: middle;
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

ul.radio_filter li:first-child {
    margin-left: 30px;
}

.filters input[type="radio"],
.filters input[type="checkbox"] {
    opacity: 0;
}

.filters input[type="radio"]:focus + label,
.filters input[type="checkbox"]:focus + label{
    outline: 2px solid gray;
}

ul.radio_filter label,
ul.checkbox_filter label {
    position: relative;
    cursor: pointer;
}

.radio_label::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -33px;
    width: 16px;
    height: 16px;
    border: 4px solid #eef2f0;
    border-radius: 50%;
}

.filters input[type="radio"]:checked + .radio_label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -26px;
    width: 4px;
    height: 4px;
    background-color: #eef2f0;
    border: 3px solid #eef2f0;
    border-radius: 50%;
}

input:disabled + .radio_label::before,
input:disabled + .radio_label::before {
    border-color: #b5c4bc;
}

ul.radio_filter li:hover,
ul.checkbox_filter li:hover {
    color: #323232;
}

li:hover .radio_label::after,
li:hover .radio_label::before {
    border-color: #ffffff;
}

li:hover .radio_label::after {
    background-color: #ffffff; 
}

legend.legend4 {
    padding-top: 5px;
    margin-bottom: -5px;
}

div.checkbox_filter_box {
    height: 36px;
    margin-top: 6px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    outline: none;
}

ul.checkbox_filter li {
    display: inline-block;
    margin-right: 16px;
    padding-top: 10px;
    padding-left: 15px;
    vertical-align: middle;
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

ul.checkbox_filter li:first-child {
    margin-left: 13px;
}

ul.radio_filter li:last-child,
ul.checkbox_filter li:last-child {
    margin-right: 18px;
}

.checkbox_label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -35px;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-off1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.filters input[type="checkbox"]:checked + .checkbox_label::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -33px;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

li:hover .checkbox_label::before {
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: center;
}

li:hover input[type="checkbox"]:checked ~ .checkbox_label::after {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: center;
}

input:disabled + .checkbox_label::before,
input:disabled + .checkbox_label::after {
    background-image: url("../img/checkbox-off3.svg");
    background-repeat: no-repeat;
    background-position: center;
}

div.filters .filter_btn {
    min-width: 143px;
    height: 36px;
    margin-top: 27px;
    padding: 7px 12px;
    color: #ffffff;
    background-color: #aabcb2;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 15px;
}

div.filters .filter_btn:hover,
div.filters .filter_btn:focus {
    color: #353535;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

div.filters .filter_btn:active {
    color: #353535;
    background-color: #eaeaea;
    -webkit-box-shadow: inset 0px 2px 2px 0px #6a6b6a;
            box-shadow: inset 0px 2px 2px 0px #6a6b6a;
    border: none;
}

div.sale_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
}

.sale_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 560px;
    min-height: 230px;
    background-color: #7b0927;
    background-image: url("../img/malina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.sale_two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 560px;
    min-height: 230px;
    background-color: #583529;
    background-image: url("../img/chocolate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.sale_one h2,
.sale_two h2 {
    padding-left: 18px;
    margin-top: 17px;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
}

.sale_one p,
.sale_two p {
    width: 520px;
    margin-top: -5px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.sale a { 
    margin-top: 28px;
    margin-left: 373px;
    margin-right: 21px;
    margin-bottom: 15px;
}

.sale_two a {
    margin-top: 26px;
    margin-left: 348px;
    margin-right: 19px;
}

.product {
    position: relative;
    margin-right: 26px;
}

.product:nth-child(4n) {
    margin-right: 0;
}

div.hits {
    margin-bottom: -20px;
}

div.icecream article.product {
    margin-bottom: 16px;
}

div.price_list,
div.catalog_icecream {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
}

div.hits img,
div.icecream img {
    width: 267px;
    height: 267px;
    border-radius: 50%;
}

div.hits p::before {
    content: "";
    position: absolute;
    bottom: 200px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

p.price_hit,
p.price_icecream {
    position: absolute;
    top: 165px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #ffffff;
}

p.price_hit span.rub,
p.price_icecream span.rub {
    display: inline-block;
    width: 30px;
    height: 33px;
    margin-left: 3px;
    vertical-align: baseline;
    background-image: url("../img/ruble.svg");
    background-repeat: no-repeat;
}

p.price_hit span,
p.price_icecream span {
    font-size: 30px;
    line-height: 45px;
}

div.hits a,
div.icecream a {
    display: block;
    width: 258px;
    margin-top: 9px;
    margin-bottom: 20px;
    margin-left: 4px;
    font: inherit;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(255,255,255,0.5);
            text-decoration-color: rgba(255,255,255,0.5);
}

div.hits a:hover,
div.hits a:active,
div.icecream a:hover,
div.icecream a:active {
    color: #ffbc9e;
}

.product:hover div.product_hover {
    display: block;
}

div.product_hover {
    position: absolute;
    display: none;
    top: -10px;
    left: -13px;
    z-index: 1;
    width: 293px;
    height: 405px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    -webkit-box-shadow: 0px 15px 35px 1px #58685f;
            box-shadow: 0px 15px 35px 1px #58685f;
}

button.hover_icecream {
    border: none;
    margin-top: 340px;
    margin-left: 46px;
}

div.info_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 1146px;
    margin-bottom: 40px;
    color: #323232;
    background-color: #e8dbba;
    background-image: url("../img/wafer.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 15px;
}

div.info_box h3 {
    margin-bottom: 20px;
    margin-left: 18px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.15px;
}

div.info_box p {
    position: relative;
    width: 480px;
    margin-top: 0px;
    margin-left: 30px;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 45px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

div.info_box p.paragraph_2,
div.info_box p.paragraph_4 {
    margin-left: 10px;
}

div.info_box p::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -15px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

div.info_box p.paragraph_1::before {
    background-image: url("../img/ice-cream.svg");
}

div.info_box p.paragraph_2::before {
    background-image: url("../img/cow.svg");
}

div.info_box p.paragraph_3::before {
    background-image: url("../img/eco.svg");
}

div.info_box p.paragraph_4::before {
    background-image: url("../img/thermometer.svg");
}

div.news_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
}

.blog_box {
    width: 560px;
    min-height: 220px;
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/klubnika.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.blog_box h4 {
    padding-top: 2px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.blog_box a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    background: -webkit-gradient(linear, left top, right top, from(#353535), to(#353535));
    background: -webkit-linear-gradient(left, #353535, #353535 100%);
    background: -o-linear-gradient(left, #353535, #353535 100%);
    background: linear-gradient(to right, #353535, #353535 100%);
    background-position: 0 100%;
    background-size: 10px 2px;
    background-repeat: repeat-x;
}

.blog_box div.link_blog_box {
    width: 300px;
    margin-top: -18px;
    margin-bottom: 15px;
    padding-left: 19px;
}

div.send_box {
    width: 560px;
    min-height: 220px;
    background-image: url("../img/bg-post.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

div.content_send {
    width: 548px;
    height: calc(100% - 15px);
    min-height: 208px;
    margin-left: 6px;
    margin-top: -9px;
    background-color: #f8f7f4;
    border-radius: 15px;
}

div.send_box p {
    width: 518px;
    padding-top: 28px;
    padding-left: 22px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #5a5a5a;
}

div.content_send input {
    width: 368px;
    margin: 19px 7px 10px 20px;
    padding: 10px 13px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

div.content_send .send_btn {
    padding: 13px 20px;
    margin-top: 6px;
    margin-bottom: 8px;
}

div.map_box {
    position: relative;
    height: 430px;
}

div.map_box img {
    position: absolute;
    top: 0px;
}

div.map_box iframe {
    position: absolute;
    left: 100%;
    width: 98.5vw;
    min-width: 1200px;
    margin-left: -50%;
    border: none;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.contacts {
    position: absolute;
    top: 62px;
    right: 0px;
    width: 303px;
    min-height: 306px;
    color: #323232;
    background-color: #fefefe;
    border-radius: 15px;
}

.contacts p {
    margin-top: -2px;
    padding-left: 26px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.contacts .p1 {
    width: 150px;
    padding-top: 30px; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.contacts .p2 {
    width: 250px;
    margin-top: -12px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.contacts .p3 {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.contacts .p4 {
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #323232;
    text-decoration: none;
}

.contacts .p5 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.contacts .btn_feedback {
    margin-top: 9px;
    margin-left: 25px;
    margin-bottom: 29px;
    padding: 12px 29px;
}

div.pages_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    margin-top: -7px;
    margin-right: -5px;
    padding-bottom: 16px;
    cursor: default;
}

ul.pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
}

ul.pages li {
    list-style: none;
}

ul.pages a.page_one {
    margin-right: 1px;
    padding: 3px 9px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #323232;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: default;
}

ul.pages a {
    position: relative;
    padding: 3px 9px;
    margin-right: 2px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 50%;
}

ul.pages a:focus {
    outline: 1px solid #5e6d65;
}

ul.pages a.page_arrow {
    display: block;
    width: 8px;
    height: 12px;
    left: -9px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

 ul.pages a.page_arrow_last {
    display: block;
    width: 8px;
    height: 12px;
    right: -7px;
    background-image: url("../img/icon-right-small-wh.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

ul.pages a.page_arrow_last:hover,
ul.pages a.page_arrow:hover {
    background-color: inherit;
}

ul.pages a:hover {
    background-color: #9aaea3;
}

ul.pages a:active {
    color: #323232;
    background-color: #ffffff;
}

@-webkit-keyframes shake {
    0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

    20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
    0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

    20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
    
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }

  90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
    
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }

  90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.modal {
    position: fixed;
    top: 25%;
    left: 50%;
    z-index: 3;
    display: none;
    width: 480px;
    height: 443px;
    margin-left: -240px;
    padding: 18px 25px;
    background-color: #f8f7f4;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.modal_show {
    display: block;
    -webkit-animation: bounce 0.3s;
            animation: bounce 0.3s;
}

.modal_error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.modal h2 {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}

.modal_close {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 18px;
    height: 18px;
    font-size: 0;
    background-color: inherit;
    background-image: url("../img/cross-big.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.modal_overlay {
    display: none;
}
    
.modal_overlay_show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.modal input[type="text"],
.modal input[type="email"] {
    width: 265px;
    margin-bottom: 10px;
    padding: 10px 13px;
}

.modal textarea{
    width: 428px;
    height: 155px;
    padding: 10px 13px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    resize: none;
    overflow: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.modal .modal_btn{
    margin-left: 295px;
    border: none;
}

.main_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid rgba(255,255,255,0.3);
}

div.footer_social {
    margin-top: 40px;
}

div.footer_social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-top: -5px;
    padding: 0;
    min-width: 187px;
    list-style: none;
}

div.footer_social a.social_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

a.social_btn svg {
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.3);
    cursor: pointer;
}

a.social_btn svg:hover,
a.social_btn svg:focus {
    border-color: #dae2de;
}

a.social_btn svg:active {
    border: 3px solid rgba(255,255,255,0.3);
}

svg.social_svg:hover path,
svg.social_svg:focus path {
    fill: #ffffff;
}

svg.social_svg:active path {
    fill: #e9e9e9;
}

a.social_btn:hover path {
    fill: #e9e9e9;
}

ul.footer_info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 305px;
    margin-top: 31px;
    margin-left: -36px;
    list-style: none;
}

ul.footer_info a {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(#9db1a5), to(#9db1a5));
    background: -webkit-linear-gradient(left, #9db1a5, #9db1a5 100%);
    background: -o-linear-gradient(left, #9db1a5, #9db1a5 100%);
    background: linear-gradient(to right, #9db1a5, #9db1a5 100%);
    background-position: 0 100%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

li.provider a {
    font-weight: 700;
}

ul.footer_info a:hover,
ul.footer_info a:active {
    color: #ffbc9e;
}

ul.footer_info li:nth-child(2) {
    width: 162px;
    padding-left: 0px;
    text-align: left;
}

li.provider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 19px;
    width: 17px;
    height: 17px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
}

div.footer_copyright {
    position: relative;
}

div.footer_copyright p {
    margin-top: 60px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fefefe;
    cursor: default;
}

div.footer_copyright a.html_link {
    position: absolute;
    top: 17px;
    width: 110px;
    height: 40px;
    background-image: url("../img/logo-htmlacademy-small.png");
    background-repeat: no-repeat;
}

p a.html_academy_text {
    padding-bottom: 2px;
    font: inherit;
    color: #fefefe;
    background: -webkit-gradient(linear, left top, right top, from(#9db1a5), to(#9db1a5));
    background: -webkit-linear-gradient(left, #9db1a5, #9db1a5 100%);
    background: -o-linear-gradient(left, #9db1a5, #9db1a5 100%);
    background: linear-gradient(to right, #9db1a5, #9db1a5 100%);
    background-position: 0 100%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

p a.html_academy_text:hover,
p a.html_academy_text:active {
    color: #ffbc9e;
}